body {
    padding:5%;
    font-size: small;
    background-color: rgb(255, 255, 255);
    color:black
}

.dark {
    background-color: black;
    color:white;
}



.nav {
    background-color: rgb(1, 0, 41);
    overflow: hidden;
}

.nav a {
    color:rgb(0, 240, 0);
    padding: 5% ;
}

.nav a:hover {
    color: aliceblue;
    background-color: black;
}