body {

    font-size: small;
    background-color: white;
    color:black
}

.dark {
    background-color: black;
    color: white;
}



#Sidebar a {
    padding-top: 10%;
    display: block;
}

#Sidebar {
    background-color: grey;
    position:fixed;
    width:10%;
    margin-left: 0%;
    font-size: larger;
    display: none;
}

#Main {
    margin-left: 0%;
}

#content {
    text-align: center;
}

#Ribbon {
    font-size: larger;
    background-color: gray;
    overflow: hidden;
}

#Ribbon a {
    color:white;
    padding: 5% ;
}

#Ribbon a:hover {
    color: blue;
    ;
}